table, .mat-table {
    width: 100%;
    display: table;
    margin-right: 10px;
  }

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}


h4 {
    margin: 0;
    line-height: 2rem; /* Ensure proper alignment */
}


  
    