/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.modify-btn{
    background: none;
    border: none;
}

body{
    overflow-x: hidden;
}
